.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuir tarjetas uniformemente */
  gap: 2em;
  margin: 0 20px;
}

.card {
  max-width: calc(33.33% - 1em); /* Ajustar el ancho máximo de cada tarjeta */
  /* Otros estilos de tarjeta */
}
