body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://i.stack.imgur.com/stZs1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; /* Alinea el texto al centro */
  color: #333;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: medium;
  padding: 0px;
  flex-direction: column; /* Cambia la dirección de la disposición a column */
  background-color: rgb(212, 226, 136);
  margin-top: 5px;
  margin: 0;
}

.detail-title {
  font-size: 36px;
  margin-bottom: 5px; /* Agrega espacio entre el título y la bandera */
  margin-top: -150px;
}

.detail-content {
  /* Estilos para el contenido */
}

.detail-image {
  max-width: 100%;
  height: auto;
}

.card {
  perspective: 1000px;
  width: 250px;
  height: 350px;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-front {
  width: 100%;
  height: 100%;
  transform: rotateY(0deg); /* Aplica la rotación solo a la parte frontal */
  backface-visibility: visible;
}

.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  padding: 20px;
  background: rgb(212, 226, 136);
  border: 2px solid #333; /* Agrega un borde alrededor del contenido */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}

.card h3 {
  margin: 0; /* Elimina el margen predeterminado del título */
  font-size: 18px; /* Ajusta el tamaño del título */
}

.card p {
  margin: 5px 0; /* Ajusta el espacio entre los párrafos */
}

.card:hover {
  transform: rotateY(180deg); /* Gira la tarjeta al pasar el mouse */
}

.card:hover .card-back {
  opacity: 1; /* Muestra la parte trasera al pasar el mouse */
}
